<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS模糊搜索和精确搜索.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1828E59E1DF6A3100017E4F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1828E5B71DF6A31C0017E4F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1828E5C21DF6A31C0017E4F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
